@import "../../less/shared";

:host{
  .overlay-title {
    .back-angle {
      margin-top:6px;
    }
    h1 {
      font-size: 1.3em;
      position: relative;
      top:10px;
    }
  }

  .container, .overlay-title {
    visibility: hidden;
    left:100%;
    .transition();

    &.active {
      visibility: visible;
      left:0;
      .transition();
    }
  }

  .container {
    z-index: 1;
    background: #34495e;
    .tracks{
      margin-bottom:70px;
    }
  }
}
