@import "../../less/shared";

:host{
  .overlay-title {
    background-color: rgba(22, 160, 133,0.8);

  }

  .container, .overlay-title {
    visibility: hidden;
    left:100%;
    .transition();


    &.active {
      visibility: visible;
      left:0;
      .transition();
    }
  }


  .container {
    z-index: 1;
    background: #1abc9c;
    .content {
      ul {
        overflow:visible;
      }
      .item-name {
        background: #1abc9c;
        border-bottom:1px solid rgba(22, 160, 133,0.8)
      }
    }
  }
}