@import "../../less/shared";

:host{
  .container, .overlay-title {
    visibility: hidden;
    left:100%;
    .transition();


    &.active {
      visibility: visible;
      left:0;
      .transition();
    }
  }


  .container {
    z-index: 1;
    background: #34495e;
    .content {
      ul {
        overflow:visible;
      }
    }
  }
}
