@import "../../less/mixins";

:host{
  .container, .overlay-title {
    display: none;
    &.active {
      display: inline;
    }
  }


  .container {
    .content {
      ul {
        overflow:visible;
      }
    }
  }
}
