
<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="/node_modules/polymer/platform.js"></script>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/jquery-cookie/jquery.cookie.js"></script>
    <script src="/bower_components/swfobject/swfobject/swfobject.js"></script>

    <link rel="import" href="/node_modules/polymer/polymer.html">
    <link rel='import' href='/build/app/app.html'>
    <link rel='import' href='/build/listener/listener.html'>
    <link rel='import' href='/build/playlist/playlist.html'>
    <link rel='import' href='/build/player/player.html'>
    <link rel='import' href='/build/track/track.html'>
    <link rel='import' href='/build/login/login.html'>

    <link rel="stylesheet" polymer-scope="global" type="text/css" href="build/main.css">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
  </head>
  <body unresolved>
    <div style="position:fixed; width:100%; height:100%">
      <div class='title'>Spotiyo</div>
      <yo-login></yo-login>
    </div>
    <yo-listener></yo-listener>
    <yo-playlist id="yoplaylist"></yo-playlist>
    <yo-player id="yoplayer"></yo-player>
<!-- 
    <button onclick="playIt();">yo play radiohead</button>
    <button onclick="stop();">stop</button> -->
    <script>
      // var redirectURL = 'http%3A%2F%2Flocalhost%3A3000%2Flogin';
      // var clientId = '5bc5d8c7b3f74d089b4cb08fee835e03'
      // var clientSecret = 'ca041b7ba4ae4905a66cc6fc5b542ac5';

      // var playIt = function(){
      //   var playlist = document.querySelector('yo-playlist')
      //   playlist.toPlay('radiohead');
      // }

      // var stop = function(){
      //   var playlist = document.querySelector('yo-playlist')
      //   playlist.stop();
      // }
    </script>
  </body>
</html>