<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="/lib/vendor.js"></script>
    <link rel="import" href="/node_modules/polymer/polymer.html">
    <link rel='import' href='/elements/elements.html'>
    <link rel="stylesheet" polymer-scope="global" type="text/css" href="style/main.css" shim-shadowdom>
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
  </head>
  <body unresolved>
    <yo-playlist></yo-playlist>
    <yo-tracks></yo-tracks>
    <div style="position:fixed; width:100%; height:100%">
      <div class='title'>Spotiyo</div>
      <yo-login></yo-login>
    </div>
    <yo-player></yo-player>
  </body>
</html>
