@import "../../less/mixins";

:host{
  display:block;
  clear:both;
  overflow: hidden;
  background: #34495e;
  .item-name {
    overflow:auto;
    .artist {
      font-size:0.6em;
    }
    .track-name {
      overflow:hidden;
    }
    img {
      margin-right:5px;
    }
  }
}
