@import "../../less/shared";

:host{
  .overlay-title {
    background-color: rgba(44, 62, 80, 0.8);
  }

  .container, .overlay-title {
    visibility: hidden;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.4s ease-in-out, visibility 0s 0.4s;
    transition: transform 0.4s ease-in-out, visibility 0s 0.4s;

    &.active {
      visibility: visible;
      -webkit-transform: translateX(0%);
      transform: translateX(0%);
      -webkit-transition: -webkit-transform 0.4s ease-in-out;
      transition: transform 0.4s ease-in-out;
    }
  }

  .container {
    background: #34495e;
    .content {
      .item-name {
        background: #34495e;
      }
    }
  }
}